*{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #7ba6c0;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

#search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#search-button {
    padding: 6px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

/*#login-button {
    padding: 6px 12px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

#search-button:hover, #login-button:hover {
    background-color: #777;
}

/* Responsive adjustments */
/*@media (max-width: 768px) {
    .header-right {
        flex-direction: column;
        align-items: flex-start;
    }

    #login-button {
        margin-left: 0;
        margin-top: 10px;
    }

    nav ul {
        justify-content: flex-start;
        flex-direction: column;
    }
}*/


.hero {
    background: url("https://www.krea.ai/api/img?f=webp&i=https%3A%2F%2Ftest1-emgndhaqd0c9h2db.a01.azurefd.net%2Fimages%2F17e04c92-29e8-4cdd-9b95-82e964ab77b0.png") no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    padding: 200px 0;
}



.hero h2 {
    margin: 0 0 10px;
}
.note-section {
    background-color: #f8f9fa; /* Light background to make it stand out */
    border: 2px solid #007bff; /* Border to make it more noticeable */
    border-radius: 10px;
    padding: 40px 20px;
    text-align: center;
    margin: 40px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.note-section:hover {
    transform: scale(1.02); /* Slightly enlarge on hover */
}

.note-section h2 {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 20px;
}

.note-section p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
.cta-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button{
    background-color: #007bff;
    color: white;
    padding: 8px 6px;
    border: none;
    border-radius: 5px;
}
.cta-button:hover {
    background-color: #0056b3;
}
.note-section {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects {
    padding: 50px 0;
}

.projects h2 {
    text-align: justify;
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project {
    width: calc(45% - 20px); /* Adjust width for two columns */
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    height: 400px; /* Set a fixed height for uniformity */
}

.project img {
    width: 100%;
    height: 200px; /* Set a fixed height for images */
    object-fit: cover; /* Maintain aspect ratio and cover the entire area */
}

.project h3 {
    margin-top: 20px;
}
.project button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/*.components {
    padding: 50px 0;
}

.components h2 {
    text-align: center;
    margin-bottom: 20px;
}

.component-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.component {
    width: calc(45% - 20px); // Adjust width for two columns 
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.component img {
    width: 100%;
    height: auto;
}

.component h3 {
    margin-top: 20px;
}*/
.note-section {
    background: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}
@media (max-width: 768px) {
    .component {
        width: calc(100% - 20px); /* Full width on small screens */
    }
}
.contact-info {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Arial', sans-serif;
}

.contact-info h3 {
    color: #333;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    color: #555;
    padding-left: 8px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    /* margin: 10px 0; */
}

.contact-item i {
    font-size: 20px;
    margin-right: 10px;
    color: #007bff;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-button {
    margin-top:20px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #0056b3;
}
#copy-message {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

/*.login {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
}

#login-form {
    width: 60%;
    margin: 0 auto;
}

#login-form label {
    display: block;
    margin-bottom: 5px;
}

#login-form input, #login-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #555;
}*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project {
        width: calc(100% - 20px); /* Full width on small screens */
        height: auto; /* Let height adjust automatically on smaller screens */
    }

    .project img {
        height: auto; /* Adjust image height to fit the content */
    }
}

